.deleteButton {
  composes: button from '~Components/Link/Button.css';

  margin-right: auto;
}

.labelIcon {
  margin-left: 8px;
}

.folderControls {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
}

.namingFormat {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
  gap: 8px;
}

.namingFormatButton {
  composes: button from '~Components/Link/Button.css';
}

.namingFormatExample {
  overflow-wrap: anywhere;

  color: var(--helpTextColor);
  font-size: $smallFontSize;
}
